.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.form-group {
  margin: 20px 0 !important;
}

.row-gap-24 {
  row-gap: 24px;
}

.main-btn {
  background: #3792e5;
  color: white;
  border-radius: 8px;
  padding: 1rem;
  outline: none;
  border: none;
}
.main-btn.bg-grey {
  background: #EFEFF0;
  color: #61646B;
}

.box-icon-inp {
  position: relative;
}
.box-icon-inp .icon-inp {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
.box-icon-inp .main-inp {
  background: #EFEFF0;
  border-radius: 8px;
  padding: 1rem;
  padding-right: calc(1rem + 25px);
  width: 100%;
  direction: rtl !important;
  outline: none;
  border: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  color: #61646B;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

button {
  border: none;
  outline: none;
}

.btn-warning,
.btn-info {
  color: #fff;
}
.btn-warning:hover,
.btn-info:hover {
  color: #fff;
}
.btn-warning:focus,
.btn-info:focus {
  color: #fff;
}

input:focus,
select:focus {
  outline: none;
}

.modal-header .modal-title {
  font-size: 15px !important;
}
.modal-header .btn-close {
  margin: unset !important;
}

/* start scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(246, 246, 246, 0.9647058824);
  -webkit-box-shadow: 0 0 2px #ddd inset;
          box-shadow: 0 0 2px #ddd inset;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* end scrollbar */
.landing-page {
  height: 100vh;
}

.login-page {
  background-color: #3792e5;
  min-height: 100vh;
}
.login-page .logo {
  width: 134px;
  max-width: 100%;
}
.login-page .box-form {
  margin-top: 156px;
}
.login-page .box-form .or {
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: white;
  position: relative;
}
.login-page .box-form .or::before {
  content: "";
  height: 1px;
  width: 128px;
  background-color: white;
  left: calc(100% + 8px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.login-page .box-form .or::after {
  content: "";
  height: 1px;
  width: 128px;
  background-color: white;
  right: calc(100% + 8px);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.landing-swiper {
  height: 100vh;
}
.landing-swiper .swiper-wrapper .swiper-slide {
  height: 100%;
}
.landing-swiper .swiper-wrapper .swiper-slide .box-bg {
  height: 65%;
  background-color: #3792e5;
}
.landing-swiper .swiper-wrapper .swiper-slide .box-text {
  height: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.landing-swiper .swiper-wrapper .swiper-slide .box-text h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 53.12px;
}
.landing-swiper .swiper-wrapper .swiper-slide .box-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26.56px;
  letter-spacing: 0.08px;
}
.landing-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #ebeaea !important;
}
.landing-swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #3792e5 !important;
}