.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.form-group {
  margin: 20px 0 !important;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

button {
  border: none;
  outline: none;
}

.btn-warning,
.btn-info {
  color: #fff;
}
.btn-warning:hover,
.btn-info:hover {
  color: #fff;
}
.btn-warning:focus,
.btn-info:focus {
  color: #fff;
}

input:focus,
select:focus {
  outline: none;
}

.modal-header .modal-title {
  font-size: 15px !important;
}
.modal-header .btn-close {
  margin: unset !important;
}

/* start scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: rgba(246, 246, 246, 0.9647058824);
  box-shadow: 0 0 2px #ddd inset;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* end scrollbar */
.landing-page {
  height: 100vh;
}

.top-nav .nav-content {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.top-nav .nav-content .icon-holder i, .top-nav .nav-content .icon-holder svg {
  color: #959597;
}
.top-nav .nav-content .icon-holder i.user-account, .top-nav .nav-content .icon-holder svg.user-account {
  font-size: 40px;
}
.top-nav .nav-content .icon-holder i.notification, .top-nav .nav-content .icon-holder svg.notification {
  font-size: 25px;
}

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: 0.4s;
  border-bottom: 1px solid #EFEFF0;
}
@media (max-width: 767.98px) {
  .header {
    position: fixed !important;
    bottom: 0;
    top: auto;
    border-top: 1px solid #EFEFF0;
  }
  .header .main-nav .nav-menu {
    justify-content: space-around !important;
  }
  .header .main-nav .nav-menu .nav-item .nav-link {
    padding: 6px 20px !important;
  }
}
.header .main-nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}
.header .main-nav .nav-menu .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  padding: 14px 16px;
  color: #AFB1B6;
  transition: 0.4s;
}
.header .main-nav .nav-menu .nav-item .nav-link .nav-icon {
  font-size: 20px;
}
.header .main-nav .nav-menu .nav-item .nav-link .nav-name {
  font-weight: 500;
  font-size: 13px;
}
.header .main-nav .nav-menu .nav-item .nav-link:hover {
  color: #19191B;
}

.landing-swiper {
  height: 100vh;
}
.landing-swiper .swiper-wrapper .swiper-slide {
  height: 100%;
}
.landing-swiper .swiper-wrapper .swiper-slide .box-bg {
  height: 65%;
  background-color: #3792e5;
}
.landing-swiper .swiper-wrapper .swiper-slide .box-text {
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.landing-swiper .swiper-wrapper .swiper-slide .box-text h4 {
  font-weight: 400;
  font-size: 28px;
  line-height: 53.12px;
}
.landing-swiper .swiper-wrapper .swiper-slide .box-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26.56px;
  letter-spacing: 0.08px;
}
.landing-swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: #ebeaea !important;
}
.landing-swiper .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background-color: #3792e5 !important;
}/*# sourceMappingURL=main.css.map */