.top-nav {
  .nav-content {
    @include flex-center;
    justify-content: space-between;
    .icon-holder {
      i, svg {
        color: #959597;
        &.user-account {
          font-size: 45px;
        }
        &.notification {
          font-size: 25px;
        }
      }
    }
  }
}
.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
    background-color: $white-color;
  transition: $main-transition;
  border-bottom: 1px solid #EFEFF0;
  @include maxWidth(sm) {
    position: fixed !important;
    bottom: 0;
    top: auto;
    border-top: 1px solid #EFEFF0;
    .main-nav {
      .nav-menu {
        justify-content: space-around !important;
        .nav-item {
          .nav-link {
            padding: 6px 20px !important;
          }
        }
      }
    }
  }
  .main-nav {
    .nav-menu {
      @include flex-center;
      align-items: flex-start;
      flex-grow: 1;
      .nav-item {
        .nav-link {
          @include flex-center;
          display: inline-flex;
          flex-direction: column;
          gap: 3px;
          padding: 14px 16px;
          color: $light-gray;
          transition: $main-transition;
          .nav-icon {
            font-size: 20px;
          }
          .nav-name {
            font-weight: 500;
            font-size: 13px;
          }
          &:hover {
            color: $lg-dark;
          }
        }
      }
    }
  }
}
